aside{
  position: fixed;
  right: 20px;
  top: calc(50% - 54px);
}
aside ul{

}
aside ul li:not(:last-child){
  margin-bottom: 20px;
}

aside ul li a{
  font-size: 0;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background-color: #b1b1b1;
}
.currentB{
  background-color: blue;
}
.currentW{
  background-color: white;
}